body {
  margin: 0;
  font-family: "JetBrains Mono", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "JetBrains Mono", "Courier New", monospace;
}

.date-counter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.step,
.counter {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 10px;
}
